h1 {
    color: red;
}

.matrix {
    display: inline-block;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 10px;
}


td {
    width: 30px;
    overflow-x: none;
    text-align: center;
}