h1 {
    color: red;
}

.matrix {
    display: inline-block;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 10px;
}


td {
    display: inline-block;
    width: 30px;
    overflow-x: none;
    text-align: center;
}


/*
    Columns for matrices and functions
*/

.column-matrix {
    border-right: 1px dashed #999;
}

.column-function {
    border-left: 1px dashed #999;
}






/*
    Panels for matrices and functions
*/

.matrix-panel {
    padding: 5px;
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 2px 1px 1px grey;
    margin: 5px;
}

.matrix-panel:hover {
    background-color: #fef;
    cursor: pointer;
}

.function-panel {
    padding: 5px;
    border: 1px solid black;
    box-shadow: 2px 1px 1px grey;
    width: 100%;
    margin: 0;
}

.function-panel:hover {
    background-color: #eff;
    cursor: pointer;
}